<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>手順一覧</title>
</head>
<body>
  <div class="container text-center">
    <div class="accordion" id="step-container">
      <% steps.forEach(function(chapter) { %>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#<%=chapter.id %>" aria-expanded="false" aria-controls="<%=chapter.id %>">
              <%= chapter.title %>
            </button>
          </h2>
          <div id="<%=chapter.id %>" class="accordion-collapse show" data-bs-parent="#step-container">
            <div class="accordion-body">
              <% chapter.steps.forEach(function(step){ %>
                <div class="row">
                  <div class="col">
                    <%= step.step_id %>： 「<%= step.command %>」
                  </div>
                  <div class="col">
                    <input type="checkbox" value="" <%= step.is_delete === 1 ? 'disabled checked' : '' %> onclick="deleteStep('<%= step.step_id %>')" />
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
  <script>
  function deleteStep(id) {
    fetch(`./api/delete/${id}`, {
      method: 'DELETE',
    })
    .then(() => {
      location.reload();
    })
    .catch(err => {
      console.error('エラー:', err);
    });
  }
</script>
</body>
</html>